body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:58px;
  width:54px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2176 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2176_text {
  border-width:0px;
  white-space:nowrap;
}
#u2177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2177_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:53px;
  width:250px;
  height:33px;
  display:flex;
}
#u2177 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2177_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2177.disabled {
}
#u2178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:206px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2178 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2178_text {
  border-width:0px;
  white-space:nowrap;
}
#u2179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:478px;
  width:120px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u2179 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2179_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:478px;
  width:120px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u2180 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2180_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:0px;
  width:50px;
  height:30px;
  display:flex;
  font-size:18px;
  text-align:center;
}
#u2181 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:106px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2182 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2182_text {
  border-width:0px;
  white-space:nowrap;
}
#u2183_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2183_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:101px;
  width:250px;
  height:33px;
  display:flex;
}
#u2183 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2183_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2183.disabled {
}
#u2184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:154px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2184 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2184_text {
  border-width:0px;
  white-space:nowrap;
}
#u2185_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2185_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:149px;
  width:250px;
  height:33px;
  display:flex;
}
#u2185 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2185_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2185.disabled {
}
#u2186 label {
  left:0px;
  width:100%;
}
#u2186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:260px;
  width:48px;
  height:18px;
  display:flex;
}
#u2186 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2186_img.selected {
}
#u2186.selected {
}
#u2186_img.disabled {
}
#u2186.disabled {
}
#u2186_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u2186_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:255px;
  width:36px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2187 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2187_text {
  border-width:0px;
  white-space:nowrap;
}
#u2188 label {
  left:0px;
  width:100%;
}
#u2188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:260px;
  width:48px;
  height:18px;
  display:flex;
}
#u2188 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2188_img.selected {
}
#u2188.selected {
}
#u2188_img.disabled {
}
#u2188.disabled {
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u2188_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2189 label {
  left:0px;
  width:100%;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:260px;
  width:60px;
  height:18px;
  display:flex;
}
#u2189 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2189_img.selected {
}
#u2189.selected {
}
#u2189_img.disabled {
}
#u2189.disabled {
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u2189_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:307px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2190 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2190_text {
  border-width:0px;
  white-space:nowrap;
}
#u2191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u2191_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u2191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:304px;
  width:300px;
  height:69px;
  display:flex;
  text-align:left;
}
#u2191 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2191_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2191.disabled {
}
#u2192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2192_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:201px;
  width:250px;
  height:33px;
  display:flex;
  color:#555555;
}
#u2192 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2192_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2192.disabled {
}
#u2193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#D9001B;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:158px;
  width:8px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#D9001B;
}
#u2193 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2193_text {
  border-width:0px;
  white-space:nowrap;
}
#u2194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#D9001B;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:213px;
  width:8px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#D9001B;
}
#u2194 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2194_text {
  border-width:0px;
  white-space:nowrap;
}
#u2195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#D9001B;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:113px;
  width:8px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#D9001B;
}
#u2195 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2195_text {
  border-width:0px;
  white-space:nowrap;
}
#u2196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#D9001B;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:65px;
  width:8px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#D9001B;
}
#u2196 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2196_text {
  border-width:0px;
  white-space:nowrap;
}
