body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1547px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2084 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:17px;
  width:918px;
  height:612px;
}
#u2084_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:918px;
  height:612px;
  overflow:hidden;
}
#u2085 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:123px;
  width:1461px;
  height:120px;
}
#u2086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u2086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  display:flex;
}
#u2086 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2086_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u2087 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:58px;
  height:40px;
  display:flex;
}
#u2087 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2087_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u2088 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:0px;
  width:286px;
  height:40px;
  display:flex;
}
#u2088 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2088_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:0px;
  width:164px;
  height:40px;
  display:flex;
}
#u2089 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2089_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:0px;
  width:164px;
  height:40px;
  display:flex;
}
#u2090 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2090_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:0px;
  width:164px;
  height:40px;
  display:flex;
}
#u2091 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2091_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:0px;
  width:164px;
  height:40px;
  display:flex;
}
#u2092 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2092_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:0px;
  width:150px;
  height:40px;
  display:flex;
}
#u2093 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2093_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:0px;
  width:150px;
  height:40px;
  display:flex;
}
#u2094 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2094_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:0px;
  width:112px;
  height:40px;
  display:flex;
}
#u2095 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2095_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:49px;
  height:40px;
  display:flex;
}
#u2096 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2096_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:40px;
  width:58px;
  height:40px;
  display:flex;
}
#u2097 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2097_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:40px;
  width:286px;
  height:40px;
  display:flex;
}
#u2098 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2098_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:40px;
  width:164px;
  height:40px;
  display:flex;
}
#u2099 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2099_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:40px;
  width:164px;
  height:40px;
  display:flex;
}
#u2100 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2100_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:40px;
  width:164px;
  height:40px;
  display:flex;
}
#u2101 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2101_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:40px;
  width:164px;
  height:40px;
  display:flex;
}
#u2102 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2102_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:40px;
  width:150px;
  height:40px;
  display:flex;
}
#u2103 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2103_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:40px;
  width:150px;
  height:40px;
  display:flex;
}
#u2104 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2104_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:40px;
  width:112px;
  height:40px;
  display:flex;
}
#u2105 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2105_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:49px;
  height:40px;
  display:flex;
}
#u2106 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2106_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:80px;
  width:58px;
  height:40px;
  display:flex;
}
#u2107 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2107_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:80px;
  width:286px;
  height:40px;
  display:flex;
}
#u2108 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2108_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:80px;
  width:164px;
  height:40px;
  display:flex;
}
#u2109 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2109_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2110 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:80px;
  width:164px;
  height:40px;
  display:flex;
}
#u2110 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2110_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2111 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:80px;
  width:164px;
  height:40px;
  display:flex;
}
#u2111 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2111_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2112 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:80px;
  width:164px;
  height:40px;
  display:flex;
}
#u2112 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2112_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2113 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:80px;
  width:150px;
  height:40px;
  display:flex;
}
#u2113 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2113_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2114 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:80px;
  width:150px;
  height:40px;
  display:flex;
}
#u2114 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2114_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:80px;
  width:112px;
  height:40px;
  display:flex;
}
#u2115 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2115_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116 label {
  left:0px;
  width:100%;
}
#u2116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:136px;
  width:16px;
  height:16px;
  display:flex;
}
#u2116 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2116_img.selected {
}
#u2116.selected {
}
#u2116_img.disabled {
}
#u2116.disabled {
}
#u2116_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:-2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2117 label {
  left:0px;
  width:100%;
}
#u2117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:176px;
  width:16px;
  height:16px;
  display:flex;
}
#u2117 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2117_img.selected {
}
#u2117.selected {
}
#u2117_img.disabled {
}
#u2117.disabled {
}
#u2117_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:-2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2118 label {
  left:0px;
  width:100%;
}
#u2118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2118 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:213px;
  width:16px;
  height:16px;
  display:flex;
}
#u2118 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2118_img.selected {
}
#u2118.selected {
}
#u2118_img.disabled {
}
#u2118.disabled {
}
#u2118_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:-2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(33, 136, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2119 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:172px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2119 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2119_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(33, 136, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2120 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:172px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2120 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2120_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2121_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2121 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:60px;
  width:200px;
  height:40px;
  display:flex;
  color:#555555;
}
#u2121 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2121_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2121.disabled {
}
#u2122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2122_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2122 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:60px;
  width:200px;
  height:40px;
  display:flex;
  color:#555555;
}
#u2122 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2122_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2122.disabled {
}
#u2123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2123_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2123 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:60px;
  width:200px;
  height:40px;
  display:flex;
  color:#555555;
}
#u2123 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2123_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2123.disabled {
}
#u2124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2124 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:60px;
  width:93px;
  height:34px;
  display:flex;
  font-size:16px;
}
#u2124 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2124_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2125 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:59px;
  width:93px;
  height:34px;
  display:flex;
  font-size:16px;
}
#u2125 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2125_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2126 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:59px;
  width:101px;
  height:34px;
  display:flex;
  font-size:16px;
}
#u2126 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2126_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(33, 136, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2127 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:211px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2127 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2127_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(33, 136, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:211px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2128 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2128_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:529px;
  width:500px;
  height:16px;
  display:flex;
}
#u2129 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2129_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2130_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:521px;
  width:32px;
  height:30px;
  display:flex;
}
#u2130 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2130_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2130.disabled {
}
#u2131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2131_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:521px;
  width:78px;
  height:30px;
  display:flex;
}
#u2131 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2131_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2131.disabled {
}
