body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1586px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2727 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:17px;
  width:918px;
  height:612px;
}
#u2727_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:918px;
  height:612px;
  overflow:hidden;
}
#u2728 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:123px;
  width:1500px;
  height:120px;
}
#u2729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u2729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  display:flex;
}
#u2729 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2729_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u2730 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:58px;
  height:40px;
  display:flex;
}
#u2730 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2730_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u2731 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:0px;
  width:286px;
  height:40px;
  display:flex;
}
#u2731 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2731_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2732 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:0px;
  width:164px;
  height:40px;
  display:flex;
}
#u2732 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2732_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2733 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:0px;
  width:164px;
  height:40px;
  display:flex;
}
#u2733 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2733_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2734 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:0px;
  width:164px;
  height:40px;
  display:flex;
}
#u2734 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2734_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2735 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:0px;
  width:164px;
  height:40px;
  display:flex;
}
#u2735 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2735_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2736 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:0px;
  width:150px;
  height:40px;
  display:flex;
}
#u2736 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2736_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2737 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:0px;
  width:150px;
  height:40px;
  display:flex;
}
#u2737 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2737_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u2738 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:0px;
  width:151px;
  height:40px;
  display:flex;
}
#u2738 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2738_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u2739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:49px;
  height:40px;
  display:flex;
}
#u2739 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2739_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u2740 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:40px;
  width:58px;
  height:40px;
  display:flex;
}
#u2740 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2740_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u2741 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:40px;
  width:286px;
  height:40px;
  display:flex;
}
#u2741 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2741_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2742 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:40px;
  width:164px;
  height:40px;
  display:flex;
}
#u2742 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2742_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2743 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:40px;
  width:164px;
  height:40px;
  display:flex;
}
#u2743 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2743_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2744 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:40px;
  width:164px;
  height:40px;
  display:flex;
}
#u2744 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2744_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2745 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:40px;
  width:164px;
  height:40px;
  display:flex;
}
#u2745 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2745_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2746 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:40px;
  width:150px;
  height:40px;
  display:flex;
}
#u2746 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2746_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2747 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:40px;
  width:150px;
  height:40px;
  display:flex;
}
#u2747 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2747_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u2748 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:40px;
  width:151px;
  height:40px;
  display:flex;
}
#u2748 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2748_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u2749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:49px;
  height:40px;
  display:flex;
}
#u2749 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2749_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u2750 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:80px;
  width:58px;
  height:40px;
  display:flex;
}
#u2750 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2750_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u2751 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:80px;
  width:286px;
  height:40px;
  display:flex;
}
#u2751 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2751_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2752 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:80px;
  width:164px;
  height:40px;
  display:flex;
}
#u2752 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2752_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2753 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:80px;
  width:164px;
  height:40px;
  display:flex;
}
#u2753 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2753_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2754 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:80px;
  width:164px;
  height:40px;
  display:flex;
}
#u2754 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2754_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2755 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:80px;
  width:164px;
  height:40px;
  display:flex;
}
#u2755 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2755_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2756 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:80px;
  width:150px;
  height:40px;
  display:flex;
}
#u2756 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2756_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2757 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:80px;
  width:150px;
  height:40px;
  display:flex;
}
#u2757 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2757_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u2758 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:80px;
  width:151px;
  height:40px;
  display:flex;
}
#u2758 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2758_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2759 label {
  left:0px;
  width:100%;
}
#u2759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2759 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:136px;
  width:16px;
  height:16px;
  display:flex;
}
#u2759 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2759_img.selected {
}
#u2759.selected {
}
#u2759_img.disabled {
}
#u2759.disabled {
}
#u2759_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:-2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2759_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2760 label {
  left:0px;
  width:100%;
}
#u2760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2760 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:176px;
  width:16px;
  height:16px;
  display:flex;
}
#u2760 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2760_img.selected {
}
#u2760.selected {
}
#u2760_img.disabled {
}
#u2760.disabled {
}
#u2760_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:-2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2760_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2761 label {
  left:0px;
  width:100%;
}
#u2761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2761 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:213px;
  width:16px;
  height:16px;
  display:flex;
}
#u2761 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2761_img.selected {
}
#u2761.selected {
}
#u2761_img.disabled {
}
#u2761.disabled {
}
#u2761_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:-2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2761_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(33, 136, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2762 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:172px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2762 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2762_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(33, 136, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2763 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:172px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2763 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2763_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2764 {
  border-width:0px;
  position:absolute;
  left:1542px;
  top:172px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2764 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2764_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2765_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2765 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:60px;
  width:200px;
  height:40px;
  display:flex;
  color:#555555;
}
#u2765 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2765_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2765.disabled {
}
#u2766_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2766_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2766 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:60px;
  width:200px;
  height:40px;
  display:flex;
  color:#555555;
}
#u2766 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2766_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2766.disabled {
}
#u2767_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2767_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2767 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:60px;
  width:200px;
  height:40px;
  display:flex;
  color:#555555;
}
#u2767 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2767_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2767.disabled {
}
#u2768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2768 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:60px;
  width:93px;
  height:34px;
  display:flex;
  font-size:16px;
}
#u2768 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2768_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2769 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:59px;
  width:93px;
  height:34px;
  display:flex;
  font-size:16px;
}
#u2769 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2769_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2770 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:59px;
  width:101px;
  height:34px;
  display:flex;
  font-size:16px;
}
#u2770 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2770_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(33, 136, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2771 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:211px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2771 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2771_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(33, 136, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2772 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:211px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2772 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2772_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2773 {
  border-width:0px;
  position:absolute;
  left:1542px;
  top:211px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2773 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2773_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2774 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:529px;
  width:500px;
  height:16px;
  display:flex;
}
#u2774 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2774_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2775_input {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2775_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:521px;
  width:32px;
  height:30px;
  display:flex;
}
#u2775 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2775_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2775.disabled {
}
#u2776_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2776_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:521px;
  width:78px;
  height:30px;
  display:flex;
}
#u2776 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2776_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2776.disabled {
}
