body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1397px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1956 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:76px;
  width:1076px;
  height:730px;
}
#u1956_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:730px;
  overflow:hidden;
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:126px;
  width:1302px;
  height:120px;
}
#u1958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
}
#u1958 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1958_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u1959 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:275px;
  height:40px;
  display:flex;
}
#u1959 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1959_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:0px;
  width:275px;
  height:40px;
  display:flex;
}
#u1960 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1960_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u1961 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:0px;
  width:275px;
  height:40px;
  display:flex;
}
#u1961 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1961_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u1962 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:0px;
  width:275px;
  height:40px;
  display:flex;
}
#u1962 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1962_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:0px;
  width:82px;
  height:40px;
  display:flex;
}
#u1963 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1963_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  display:flex;
}
#u1964 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1964_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u1965 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:275px;
  height:40px;
  display:flex;
}
#u1965 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1965_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u1966 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:40px;
  width:275px;
  height:40px;
  display:flex;
}
#u1966 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1966_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:40px;
  width:275px;
  height:40px;
  display:flex;
}
#u1967 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1967_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:40px;
  width:275px;
  height:40px;
  display:flex;
}
#u1968 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1968_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:40px;
  width:82px;
  height:40px;
  display:flex;
}
#u1969 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1969_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  display:flex;
}
#u1970 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1970_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:80px;
  width:275px;
  height:40px;
  display:flex;
}
#u1971 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1971_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:80px;
  width:275px;
  height:40px;
  display:flex;
}
#u1972 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1972_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:80px;
  width:275px;
  height:40px;
  display:flex;
}
#u1973 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1973_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:80px;
  width:275px;
  height:40px;
  display:flex;
}
#u1974 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1974_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:80px;
  width:82px;
  height:40px;
  display:flex;
}
#u1975 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1975_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:56px;
  width:140px;
  height:40px;
  display:flex;
}
#u1976 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1976_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(33, 136, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:176px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1977 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1977_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(33, 136, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:213px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1978 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1978_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:688px;
  width:500px;
  height:16px;
  display:flex;
}
#u1979 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1979_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1980_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:680px;
  width:32px;
  height:30px;
  display:flex;
}
#u1980 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1980_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1980.disabled {
}
#u1981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1981_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:680px;
  width:78px;
  height:30px;
  display:flex;
}
#u1981 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1981_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1981.disabled {
}
#u1982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:2px;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:730px;
  width:1350px;
  height:1px;
  display:flex;
}
#u1982 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1982_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
