body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1084px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1950 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:54px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1950 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1950_text {
  border-width:0px;
  white-space:nowrap;
}
#u1951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1951 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:102px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1951 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1951_text {
  border-width:0px;
  white-space:nowrap;
}
#u1952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1952_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1952 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:97px;
  width:300px;
  height:33px;
  display:flex;
}
#u1952 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1952_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1952.disabled {
}
#u1953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1953 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:526px;
  width:120px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u1953 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1953_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1954 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:526px;
  width:120px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u1954 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1954_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1955_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1955_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1955 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:50px;
  width:300px;
  height:33px;
  display:flex;
}
#u1955 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1955_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1955.disabled {
}
#u1956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1956 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:150px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1956 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1956_text {
  border-width:0px;
  white-space:nowrap;
}
#u1957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1957_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:147px;
  width:300px;
  height:69px;
  display:flex;
  text-align:left;
}
#u1957 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1957_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1957.disabled {
}
#u1958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1958 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:258px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1958 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1958_text {
  border-width:0px;
  white-space:nowrap;
}
#u1959 label {
  left:0px;
  width:100%;
}
#u1959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1959 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:297px;
  width:100px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1959 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1959_img.selected {
}
#u1959.selected {
}
#u1959_img.disabled {
}
#u1959.disabled {
}
#u1959_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u1959_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1960 label {
  left:0px;
  width:100%;
}
#u1960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:333px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1960 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1960_img.selected {
}
#u1960.selected {
}
#u1960_img.disabled {
}
#u1960.disabled {
}
#u1960_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1960_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1961 label {
  left:0px;
  width:100%;
}
#u1961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1961 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:333px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1961 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1961_img.selected {
}
#u1961.selected {
}
#u1961_img.disabled {
}
#u1961.disabled {
}
#u1961_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1961_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1962 label {
  left:0px;
  width:100%;
}
#u1962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1962 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:333px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1962 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1962_img.selected {
}
#u1962.selected {
}
#u1962_img.disabled {
}
#u1962.disabled {
}
#u1962_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1962_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1963 label {
  left:0px;
  width:100%;
}
#u1963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:333px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1963 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1963_img.selected {
}
#u1963.selected {
}
#u1963_img.disabled {
}
#u1963.disabled {
}
#u1963_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1963_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1964 label {
  left:0px;
  width:100%;
}
#u1964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:377px;
  width:100px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1964 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1964_img.selected {
}
#u1964.selected {
}
#u1964_img.disabled {
}
#u1964.disabled {
}
#u1964_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u1964_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1965 label {
  left:0px;
  width:100%;
}
#u1965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1965 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:413px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1965 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1965_img.selected {
}
#u1965.selected {
}
#u1965_img.disabled {
}
#u1965.disabled {
}
#u1965_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1965_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1966 label {
  left:0px;
  width:100%;
}
#u1966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1966 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:413px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1966 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1966_img.selected {
}
#u1966.selected {
}
#u1966_img.disabled {
}
#u1966.disabled {
}
#u1966_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1966_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1967 label {
  left:0px;
  width:100%;
}
#u1967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:413px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1967 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1967_img.selected {
}
#u1967.selected {
}
#u1967_img.disabled {
}
#u1967.disabled {
}
#u1967_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1967_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1968 label {
  left:0px;
  width:100%;
}
#u1968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:413px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1968 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1968_img.selected {
}
#u1968.selected {
}
#u1968_img.disabled {
}
#u1968.disabled {
}
#u1968_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1968_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1969 label {
  left:0px;
  width:100%;
}
#u1969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:261px;
  width:100px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1969 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1969_img.selected {
}
#u1969.selected {
}
#u1969_img.disabled {
}
#u1969.disabled {
}
#u1969_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u1969_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:0px;
  width:50px;
  height:30px;
  display:flex;
  font-size:18px;
  text-align:center;
}
#u1970 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#D9001B;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:58px;
  width:8px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#D9001B;
}
#u1971 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1971_text {
  border-width:0px;
  white-space:nowrap;
}
#u1972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#D9001B;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:105px;
  width:8px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#D9001B;
}
#u1972 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1972_text {
  border-width:0px;
  white-space:nowrap;
}
