body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1084px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:54px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1983 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1983_text {
  border-width:0px;
  white-space:nowrap;
}
#u1984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:102px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1984 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1984_text {
  border-width:0px;
  white-space:nowrap;
}
#u1985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1985_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:97px;
  width:300px;
  height:33px;
  display:flex;
}
#u1985 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1985_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1985.disabled {
}
#u1986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:526px;
  width:120px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u1986 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1986_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:526px;
  width:120px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u1987 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1987_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1988_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:50px;
  width:300px;
  height:33px;
  display:flex;
}
#u1988 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1988_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1988.disabled {
}
#u1989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:150px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1989 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1989_text {
  border-width:0px;
  white-space:nowrap;
}
#u1990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1990_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:147px;
  width:300px;
  height:69px;
  display:flex;
  text-align:left;
}
#u1990 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1990_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1990.disabled {
}
#u1991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:258px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1991 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1991_text {
  border-width:0px;
  white-space:nowrap;
}
#u1992 label {
  left:0px;
  width:100%;
}
#u1992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:297px;
  width:100px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1992 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1992_img.selected {
}
#u1992.selected {
}
#u1992_img.disabled {
}
#u1992.disabled {
}
#u1992_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u1992_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1993 label {
  left:0px;
  width:100%;
}
#u1993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:333px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1993 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1993_img.selected {
}
#u1993.selected {
}
#u1993_img.disabled {
}
#u1993.disabled {
}
#u1993_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1993_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1994 label {
  left:0px;
  width:100%;
}
#u1994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:333px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1994 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1994_img.selected {
}
#u1994.selected {
}
#u1994_img.disabled {
}
#u1994.disabled {
}
#u1994_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1994_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1995 label {
  left:0px;
  width:100%;
}
#u1995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:333px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1995 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1995_img.selected {
}
#u1995.selected {
}
#u1995_img.disabled {
}
#u1995.disabled {
}
#u1995_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1995_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1996 label {
  left:0px;
  width:100%;
}
#u1996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:333px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1996 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1996_img.selected {
}
#u1996.selected {
}
#u1996_img.disabled {
}
#u1996.disabled {
}
#u1996_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1996_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1997 label {
  left:0px;
  width:100%;
}
#u1997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:377px;
  width:100px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1997 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1997_img.selected {
}
#u1997.selected {
}
#u1997_img.disabled {
}
#u1997.disabled {
}
#u1997_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u1997_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1998 label {
  left:0px;
  width:100%;
}
#u1998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:413px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1998 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1998_img.selected {
}
#u1998.selected {
}
#u1998_img.disabled {
}
#u1998.disabled {
}
#u1998_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1998_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1999 label {
  left:0px;
  width:100%;
}
#u1999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:413px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u1999 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1999_img.selected {
}
#u1999.selected {
}
#u1999_img.disabled {
}
#u1999.disabled {
}
#u1999_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1999_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2000 label {
  left:0px;
  width:100%;
}
#u2000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:413px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u2000 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2000_img.selected {
}
#u2000.selected {
}
#u2000_img.disabled {
}
#u2000.disabled {
}
#u2000_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u2000_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2001 label {
  left:0px;
  width:100%;
}
#u2001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:413px;
  width:133px;
  height:18px;
  display:flex;
  text-align:center;
}
#u2001 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2001_img.selected {
}
#u2001.selected {
}
#u2001_img.disabled {
}
#u2001.disabled {
}
#u2001_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u2001_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2002 label {
  left:0px;
  width:100%;
}
#u2002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:261px;
  width:100px;
  height:18px;
  display:flex;
  text-align:center;
}
#u2002 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2002_img.selected {
}
#u2002.selected {
}
#u2002_img.disabled {
}
#u2002.disabled {
}
#u2002_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u2002_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2003_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:0px;
  width:50px;
  height:30px;
  display:flex;
  font-size:18px;
  text-align:center;
}
#u2003 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#D9001B;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:58px;
  width:8px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#D9001B;
}
#u2004 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2004_text {
  border-width:0px;
  white-space:nowrap;
}
#u2005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#D9001B;
}
#u2005 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:105px;
  width:8px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#D9001B;
}
#u2005 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2005_text {
  border-width:0px;
  white-space:nowrap;
}
