body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1586px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:17px;
  width:918px;
  height:612px;
}
#u2660_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:918px;
  height:612px;
  overflow:hidden;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:123px;
  width:1500px;
  height:120px;
}
#u2662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u2662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  display:flex;
}
#u2662 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2662_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:58px;
  height:40px;
  display:flex;
}
#u2663 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2663_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:0px;
  width:286px;
  height:40px;
  display:flex;
}
#u2664 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2664_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:0px;
  width:164px;
  height:40px;
  display:flex;
}
#u2665 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2665_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:0px;
  width:164px;
  height:40px;
  display:flex;
}
#u2666 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2666_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:0px;
  width:164px;
  height:40px;
  display:flex;
}
#u2667 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2667_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:0px;
  width:164px;
  height:40px;
  display:flex;
}
#u2668 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2668_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:0px;
  width:150px;
  height:40px;
  display:flex;
}
#u2669 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2669_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:0px;
  width:150px;
  height:40px;
  display:flex;
}
#u2670 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2670_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:0px;
  width:151px;
  height:40px;
  display:flex;
}
#u2671 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2671_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:49px;
  height:40px;
  display:flex;
}
#u2672 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2672_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:40px;
  width:58px;
  height:40px;
  display:flex;
}
#u2673 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2673_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:40px;
  width:286px;
  height:40px;
  display:flex;
}
#u2674 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2674_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:40px;
  width:164px;
  height:40px;
  display:flex;
}
#u2675 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2675_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:40px;
  width:164px;
  height:40px;
  display:flex;
}
#u2676 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2676_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:40px;
  width:164px;
  height:40px;
  display:flex;
}
#u2677 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2677_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:40px;
  width:164px;
  height:40px;
  display:flex;
}
#u2678 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2678_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:40px;
  width:150px;
  height:40px;
  display:flex;
}
#u2679 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2679_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:40px;
  width:150px;
  height:40px;
  display:flex;
}
#u2680 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2680_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u2681 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:40px;
  width:151px;
  height:40px;
  display:flex;
}
#u2681 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2681_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u2682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:49px;
  height:40px;
  display:flex;
}
#u2682 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2682_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u2683 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:80px;
  width:58px;
  height:40px;
  display:flex;
}
#u2683 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2683_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u2684 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:80px;
  width:286px;
  height:40px;
  display:flex;
}
#u2684 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2684_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2685 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:80px;
  width:164px;
  height:40px;
  display:flex;
}
#u2685 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2685_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2686 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:80px;
  width:164px;
  height:40px;
  display:flex;
}
#u2686 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2686_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2687 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:80px;
  width:164px;
  height:40px;
  display:flex;
}
#u2687 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2687_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u2688 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:80px;
  width:164px;
  height:40px;
  display:flex;
}
#u2688 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2688_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2689 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:80px;
  width:150px;
  height:40px;
  display:flex;
}
#u2689 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2689_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u2690 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:80px;
  width:150px;
  height:40px;
  display:flex;
}
#u2690 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2690_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
}
#u2691 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:80px;
  width:151px;
  height:40px;
  display:flex;
}
#u2691 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2691_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2692 label {
  left:0px;
  width:100%;
}
#u2692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2692 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:136px;
  width:16px;
  height:16px;
  display:flex;
}
#u2692 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2692_img.selected {
}
#u2692.selected {
}
#u2692_img.disabled {
}
#u2692.disabled {
}
#u2692_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:-2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2692_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2693 label {
  left:0px;
  width:100%;
}
#u2693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2693 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:176px;
  width:16px;
  height:16px;
  display:flex;
}
#u2693 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2693_img.selected {
}
#u2693.selected {
}
#u2693_img.disabled {
}
#u2693.disabled {
}
#u2693_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:-2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2693_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2694 label {
  left:0px;
  width:100%;
}
#u2694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2694 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:213px;
  width:16px;
  height:16px;
  display:flex;
}
#u2694 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2694_img.selected {
}
#u2694.selected {
}
#u2694_img.disabled {
}
#u2694.disabled {
}
#u2694_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:-2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2694_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(33, 136, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2695 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:172px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2695 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2695_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(33, 136, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2696 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:172px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2696 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2696_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2697 {
  border-width:0px;
  position:absolute;
  left:1542px;
  top:172px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2697 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2697_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2698_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2698_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2698 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:60px;
  width:200px;
  height:40px;
  display:flex;
  color:#555555;
}
#u2698 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2698_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2698.disabled {
}
#u2699_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2699_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2699 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:60px;
  width:200px;
  height:40px;
  display:flex;
  color:#555555;
}
#u2699 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2699_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2699.disabled {
}
#u2700_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2700_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2700 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:60px;
  width:200px;
  height:40px;
  display:flex;
  color:#555555;
}
#u2700 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2700_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2700.disabled {
}
#u2701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2701 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:60px;
  width:93px;
  height:34px;
  display:flex;
  font-size:16px;
}
#u2701 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2701_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2702 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:59px;
  width:93px;
  height:34px;
  display:flex;
  font-size:16px;
}
#u2702 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2702_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2703 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:59px;
  width:93px;
  height:34px;
  display:flex;
  font-size:16px;
}
#u2703 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2703_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(33, 136, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2704 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:211px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2704 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2704_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(33, 136, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2705 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:211px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2705 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2705_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2706 {
  border-width:0px;
  position:absolute;
  left:1542px;
  top:211px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2706 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2706_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2707 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:529px;
  width:500px;
  height:16px;
  display:flex;
}
#u2707 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u2707_text {
  border-width:0px;
  word-wrap:break-word;
}
#u2708_input {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2708_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2708 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:521px;
  width:32px;
  height:30px;
  display:flex;
}
#u2708 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2708_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2708.disabled {
}
#u2709_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2709_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2709 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:521px;
  width:78px;
  height:30px;
  display:flex;
}
#u2709 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u2709_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2709.disabled {
}
