body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1668px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1521px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1755 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:90px;
  width:1521px;
  height:100px;
  display:flex;
}
#u1755 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1755_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1756 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:126px;
  width:64px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1756 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1756_text {
  border-width:0px;
  white-space:nowrap;
}
#u1757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 153, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1757 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:116px;
  width:70px;
  height:38px;
  display:flex;
  color:#FFFFFF;
}
#u1757 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1757_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 153, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1757.mouseOver {
}
#u1757_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1758 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:250px;
  width:1650px;
  height:304px;
}
#u1759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1759 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1759_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1760 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:0px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1760 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1760_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1761 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1761 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1761_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1762 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:0px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1762 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1762_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1763 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:0px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1763 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1763_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
}
#u1764 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:0px;
  width:277px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1764 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1764_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1765 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1765_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1766 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:38px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1766 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1766_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1767 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:38px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1767 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1767_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1768 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:38px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1768 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1768_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1769 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:38px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1769 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1769_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
}
#u1770 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:38px;
  width:277px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1770 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1770_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1771 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1771_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1772 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:76px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1772 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1772_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1773 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:76px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1773 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1773_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1774 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:76px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1774 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1774_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1775 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:76px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1775 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1775_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
}
#u1776 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:76px;
  width:277px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1776 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1776_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1777 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1777_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1778 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:114px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1778 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1778_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1779 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:114px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1779 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1779_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1780 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:114px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1780 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1780_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1781 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:114px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1781 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1781_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
}
#u1782 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:114px;
  width:277px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1782 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1782_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1783 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1783_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1784 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:152px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1784 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1784_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1785 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:152px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1785 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1785_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1786 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:152px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1786 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1786_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:152px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1787 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1787_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:152px;
  width:277px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1788 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1788_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1789 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1789_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:190px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1790 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1790_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1791 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:190px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1791 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1791_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:190px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1792 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1792_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:190px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1793 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1793_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
}
#u1794 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:190px;
  width:277px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1794 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1794_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:228px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1795 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1795_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:228px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1796 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1796_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:228px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1797 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1797_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:228px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1798 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1798_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:228px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1799 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1799_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:228px;
  width:277px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1800 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1800_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:266px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1801 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1801_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:266px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1802 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1802_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:38px;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:266px;
  width:275px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1803 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1803_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:266px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1804 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1804_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:38px;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:266px;
  width:274px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1805 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1805_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:38px;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:266px;
  width:277px;
  height:38px;
  display:flex;
  text-align:center;
}
#u1806 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1806_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1807_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1807_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:680px;
  width:40px;
  height:25px;
  display:flex;
  color:#666666;
  text-align:center;
}
#u1807 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1807_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u1807.disabled {
}
#u1808_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1808_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:680px;
  width:40px;
  height:25px;
  display:flex;
  color:#FFFFFF;
  text-align:center;
}
#u1808 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1808_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1808.disabled {
}
#u1809_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1809_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:116px;
  width:212px;
  height:38px;
  display:flex;
}
#u1809 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1809_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1809.disabled {
}
#u1810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:715px;
  width:558px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1810 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1810_text {
  border-width:0px;
  white-space:nowrap;
}
#u1811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:2px;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:710px;
  width:1500px;
  height:1px;
  display:flex;
}
#u1811 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1811_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:683px;
  width:32px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1812 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1812_text {
  border-width:0px;
  white-space:nowrap;
}
#u1813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:683px;
  width:16px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1813 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1813_text {
  border-width:0px;
  white-space:nowrap;
}
#u1814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:681px;
  width:68px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1814 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1814_text {
  border-width:0px;
  white-space:nowrap;
}
#u1815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:680px;
  width:75px;
  height:25px;
  display:flex;
}
#u1815 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1815_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:126px;
  width:64px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1816 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1816_text {
  border-width:0px;
  white-space:nowrap;
}
#u1817_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1817_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:116px;
  width:212px;
  height:38px;
  display:flex;
}
#u1817 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1817_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1817.disabled {
}
#u1818_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1818_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:116px;
  width:212px;
  height:38px;
  display:flex;
}
#u1818 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1818_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1818.disabled {
}
#u1819_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1819_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:116px;
  width:212px;
  height:38px;
  display:flex;
}
#u1819 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1819_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1819.disabled {
}
#u1820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:1344px;
  top:116px;
  width:116px;
  height:38px;
  display:flex;
  color:#FFFFFF;
}
#u1820 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1820_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1820.mouseOver {
}
#u1820_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1821_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1821_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:116px;
  width:182px;
  height:38px;
  display:flex;
}
#u1821 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1821_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1821.disabled {
}
